@charset "UTF-8";

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}

	.mediaViewInfo {
		--web-view-name: 0;
		--web-view-id: 0;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: 0;
	}

	#main {
		position: absolute;
		width: 100vw;
		height: 141.3021vw; 
		background-color: rgba(244,238,238,1);
		overflow: hidden;
		--web-view-name: 0;
		--web-view-id: 0;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#mainPBox0{
		position: relative;
		width: 100.vw;
		height: 73.3333vw;
		left: 0vw;
		top: -4.115vw;
		box-sizing: border-box;
	}
	#line {
		stroke: rgba(165,165,165,1);
		stroke-width: 0.156vw;
	}
	
	/* 2 - 게시물 */
	.line {
		position: absolute;
		width: 100vw;
		top:40.458vw;
		order: 2;
		background: pink;
		height: 7.979vw;
	}
	
	/* 3 - 게시물 정렬 아이콘, 검색 아이콘 */
	#mainboardPBox {
		position: inherit;
		width: 73.3333vw;
		height: 10.593vw;
		left: 13.3333vw;
		top: 9.64vw;
		order: 3;
/* 		background: maroon; */
	}
	#dashboard1 {
		fill: rgba(0,11,46,1);
	}
	.dashboard1 {
		position: absolute;
		width: 2.7666vw;
		height: 2.7144vw;
		left: 1.846vw;
		top: 5.466vw;
		transform: matrix(1,0,0,1,0,0);
	}
	#dashboard1Button{
		fill:black; /* transparent; */
		position: absolute;
		width: 6.4583vw;
		height: 13.5417vw;
		left: 0vw;
		top: 0.052vw;
	}
	.dashboard2{
		fill: transparent;
		position: absolute;
		width: 2.8646vw;
		height: 2.8646vw;
		left: 8.2vw;
		top: 5.3281vw;
	}
	.dashboard2sub1{
		position: absolute;
		width: 1.0729vw;
		height: 1.0729vw;
	}
	.dashboard2sub2{
		position: absolute;
		width: 1.0729vw;
		height: 1.0729vw;
		top: 1.8125vw;
	}
	.dashboard2sub3 {
		position: absolute;
		width: 1.0729vw;
		height: 1.0729vw;
		left: 1.8125vw;
	}
	.dashboard2sub4 {
		position: absolute;
		width: 1.0729vw;
		height: 1.0729vw;
		left: 1.8125vw;
		top: 1.8125vw;
	}
	#dashboard2Button {
		fill:black; /* transparent; */
		position: absolute;
		width: 6.458vw;
		height: 13.542vw;
		left: 6.458vw;
		top: 0.052vw;
	}
	.dashboard3 {
		width: 2.865vw;
		position: absolute;
		height: 2.135vw;
		left: 14.74vw;
		top: 5.604vw;
		transform: matrix(1,0,0,1,0,0);
	}
	#dashboard3Button {
		fill:black; /* transparent; */
		position: absolute;
		width: 6.458vw;
		height: 13.542vw;
		left: 12.917vw;
		top: 0.052vw;
	}
	#searchBar{
		fill: rgba(255,255,255,1);
	}
	.searchBar {
		position: absolute;
		width: 29.53vw;
		height: 4.427vw;
		left: 21.302vw;
		top: 4.6745vw;
	}
	#searchBarButton {
		fill:black; /* transparent; */
		position: absolute;
		width: 33.385vw;
		height: 13.5417vw;
		left: 19.375vw;
		top: 0.052vw;
	}
	#searchIcon{
		fill: rgba(0,0,0,1);
	}
	.searchIcon{
		position: absolute;
		width: 3.437vw;
		height: 3.385vw;
		transform-origin: center;
		left: 54.76vw;
		top: 5vw;
	}
	#searchButton {
		fill: transparent;
		position: absolute;
		width: 7.8125vw;
		height: 13.594vw;
		left: 52.76vw;
		top: 0vw;
	}
	#space3 {
		fill: transparent;
	}
	.space3 {
		position: absolute;
		width: 12.76vw;
		height: 13.5417vw;
		left: 60.573vw;
		top: 0.0521vw;
	}
	
	/* 1 - 프로필 상단 전체*/
	#mainPBox1{
		position: relative;
		width: 45.729vw;
		height: 28.6875vw;
		left: 12.135vw;
		top: 10.323vw;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		order: 1;
/* 		background: orange; */
	}
	
	/* 3 - 북마크*/
	#bookmarkPbox0 {	
		position: absolute;
		width: 11.146vw;
		height: 11.302vw;
		left: 64.583vw;
		top: 0.052vw;
		order: 3;
		z-index: 10;
/* 		background: purple; */
	}
	#bookmarkPbox1 {
		position: absolute;
		width: 11.146vw;
		height: 11.302vw;
		left: 0vw;
		top: 0vw;
	}
	#bookmarkPbox2{
		position: absolute;
		width: 9.7135vw;
		height: 9.479vw;
		left: 0vw;
		top: 0vw;
	}
	#markRoundShadow{
		filter: blur(0.25vw);
		fill: rgba(0,0,0,0.2);
	}
	.markRoundShadow{
		position: absolute;
		width: 13.4375vw;
		height: 13.4375vw;
		left: 1.2708vw;
		top: 1.0417vw;
	}
	#bookmarkRBox{
		fill: rgba(255,255,255,1);
	}
	.bookmarkRBox{
		position: absolute;
		width: 8.4375vw;
		height: 8.4375vw;
		left: 0.625vw;
		top: 0.52vw;
		transform: matrix(1,0,0,1,0,0);
	}
	#markRoundBright {
		filter: blur(0.7813vw);
		fill: rgba(255,255,255,0.2);
	}
	.markRoundBright {
		position: absolute;
		width: 13.125vw;
		height: 13.125vw;
		left: -1vw;
		top: -1vw;
		transform: matrix(1,0,0,1,0,0);
	}
	#bookmark2 {
		fill: rgba(0,11,46,1);
	}
	.bookmark2 {
		position: absolute;
		width: 2.083vw;
		height: 3.3333vw;
		left: 3.854vw;
		top: 3.3854vw;
		transform: matrix(1,0,0,1,0,0);
	}
	#roundBright {
		opacity: 0.8;
		filter: blur(0.2604vw);
		fill: rgba(255,255,255,0.102);
	}
	.roundBright {
		position: absolute;
		width: 15.8854vw;
		height: 15.8854vw;
		left: 0vw;
		top: 0vw;
	}
	
	/* 프로필 업로드, 저장 영역 */
	#uploadSettingBox {
		position: absolute;
		width:16.275vw;
    	height:20vw;
    	top: 1.758vw;
    	left: 2vw;
/*     	background: yellow; */
	}
	#imagecanvas {
/* 		background: yellow; */
		width: 15vw;
		height: 15vw;
		border-radius: 20vw; 
		border: 0.45vw solid pink;
	}
	#upload {
		position: absolute;
		justify-content: flex-start;
		border-radius: 1vw; 
		left: 3.8vw;		
		top: 16vw;
		cursor: pointer;
		width: 3.5vw; 
		height: 3.5vw;
/* 		background: green; */
	}
	
	#save {
		position: absolute;	
		justify-content: flex-end;
		border-radius: 0.05vw; 
		left: 8vw;
		top: 16vw;
		cursor: pointer;
		width: 3.5vw; 
		height: 3.5vw;
/* 		background: green;	 */	
	}
	
	#unnamed_2 {
		position: absolute;
		width: 14.2188vw;
		height: 14.2188vw;
		left: 2.76vw;
		top: 0.729vw;
	}
	#roundLine {
		fill: transparent;
		stroke: rgba(241,168,187,1);
		stroke-width: 0.1563vw;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.roundLine {
		position: inherit;
		position: absolute;
		width: 15.625vw;
		height: 15.625vw;
		left: 2.0313vw;
		top: 0vw;
	}
	#plus {
		position: absolute;
		width: 2.8125vw;
		height: 2.4479vw;
		left: 12vw;
		top: 11vw;
		transform: matrix(1,0,0,1,0,0);
		border-radius: 20vw; 
		cursor:pointer;
		width:3vw; 
		height:3vw;
		
	}
	
	#Heart {
		fill: rgba(239,74,53,1);
	}
	.Heart {	
		position: absolute;
		width: 2.8125vw;
		height: 2.4479vw;
		left: 14.0417vw;
		top: 11.927vw;
		transform: matrix(1,0,0,1,0,0);
	}
	#subImgBox {
		position: absolute;
		width: 73.4375vw;
		height: 7.8646vw;
		left: 1.25vw;
		display:flex;
		justify-content: space-between;
	}
/* 	#subImg1 {
		width: 7.8125vw;
		height: 7.8125vw;
		left: 0vw;
		top: 0vw;
	} */
/* 	#subImg2{
		width: 7.8125vw;
		height: 7.8125vw;
		left: 0vw;
		top: 0vw;
	} */
/* 	#subImg3 {
		width: 7.8125vw;
		height: 7.8125vw;
		left: 001vw;
		top: 0vw;
	} */
/* 	#subImg4 {
		width: 7.8125vw;
		height: 7.8125vw;
		left: 0vw;
		top: 0vw;
	} */
/* 	#subImg5 {
		
		width: 7.8125vw;
		height: 7.8125vw;
		left: 0.023vw;
		top: 0vw;
	} */
/* 	#subImg6 {
		width: 7.8125vw;
		height: 7.8125vw;
		left: 0vw;
		top: 0vw;
	} */
	#subImgFont {
		position: absolute;
		width: 73.802vw;
		height: 2.8125vw;
		left: 1.927vw;
		top: 8.698vw;
		
	}
	#working {
		position: absolute;
		left: 0vw;
		top: 0.2083vw;		
		width: 6.6667vw;
		white-space: nowrap;
		line-height: 6.25vw;
		margin-top: -2.1875vw;
		font-style: normal;
		font-size: 1.875vw;
		color: rgba(34,34,34,1);
	}
	#dancing {
		position: absolute;
		left: 13.3854vw;
		top: 0.208vw;
		width: 6.6667vw;
		white-space: nowrap;
		line-height: 6.25vw;
		margin-top: -2.1875vw;
		font-style: normal;
		font-size: 1.875vw;
		color: rgba(34,34,34,1);
	}
	#qwee {
		position: absolute;
		left: 25.5729vw;
		top: 0.2083vw;
		width: 7.8646vw;
		white-space: nowrap;
		line-height: 6.25vw;
		margin-top: -2.1875vw;
		font-family: WCG Play Fun;
		font-style: normal;
		font-size: 1.875vw;
		color: rgba(34,34,34,1);
	}
	#TT {
		position: absolute;
		left: 41.1458vw;
		top: 0vw;
		width: 2.344vw;
		white-space: nowrap;
		line-height: 6.2500vw;
		margin-top: -2.1875vw;
		font-style: normal;
		font-size: 1.875vw;
		color: rgba(34,34,34,1);
	}
	#LOL {
		position: absolute;
		left: 54.1146vw;
		top: 0.104vw;
		width: 3.2813vw;
		white-space: nowrap;
		line-height: 6.25vw;
		margin-top: -2.1875vw;
		font-style: normal;
		font-size: 1.875vw;
		color: rgba(34,34,34,1);
	}
	#aiii {
		position: absolute;
		left: 64.948vw;
		top: 0.2083vw;
		width: 8.906vw;
		white-space: nowrap;
		line-height: 6.25vw;
		margin-top: -2.1875vw;
		font-family: WCG Play Fun Pop;
		font-style: normal;
		font-size: 1.875vw;
		color: rgba(34,34,34,1);
	}
	
	/* 5 - 스토리 하이라이트 */
	.subImgPBox {
		fill: transparent;
		position: inherit;
/* 		stroke: rgba(112,112,112,1);
		stroke-width: 0.0521vw;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto; */
		width: 75.729vw;
		height: 5.51vw;
		left: 0vw;
		top: 5.524vw;
		order: 5;
		z-index: 10;
/* 		background: navy; */
	}
	
	/* 2 - 프로필 정보 */
	#idFontPBox {
		position:inherit;
		width: 46.927vw;
		height: 22.5833vw;
		left: 17.656vw;
		top: 7vw;
		order: 2;
		z-index:10;
		overflow: visible;
		margin-top: -6vw;
/* 		background: lime; */
/* 		display: flex;
   		justify-content: start;
   		align-content: flex-start;
 */	}
	#accountBox {
		position: absolute;
		left: 6.1563vw;
		top: 0.3vw;
		width: 25.2604vw;
		white-space: nowrap;
		font-style: normal;
		font-size: 3.1250vw;
		color: rgba(34,34,34,1);
	}
	#accountId {
		font-family: inherit;	
		font-weight:bold;

	}
	#profileedit {
		font-family: inherit;	
		font-weight:bold;
	}
	#pff {
		position: absolute;
		left: 5.1563vw;
		top: 6vw;
		width: 6.1458vw;
		white-space: nowrap;
		font-style: normal;
		font-size: 2.76vw;
		color: rgba(34,34,34,0.502);
	}
	#postupload {
		position: absolute;
		left: 6.1563vw;
		top: 10.467vw;
		width: 6.1458vw;
		white-space: nowrap;
		font-style: normal;
		font-size: 2.76vw;
		color: rgba(34,34,34,0.502);	
	}
	#postfont {
		cursor: pointer;
		font-family: inherit;	
		font-weight:bold;
	}
	#introduction {
		position: absolute;
		left: 6.1563vw;
		top: 15.567vw;
		width: 6.1458vw;
		white-space: nowrap;
		font-style: normal;
		font-size: 2.76vw;
		color: rgba(34,34,34,0.502);	
	}
	#moment {
		position: absolute;
		left: 5.1563vw;
		top: 7.8646vw;
		width: 9.948vw;
		white-space: nowrap;
		font-style: normal;
		font-size: 2.6563vw;
		color: rgba(34,34,34,1);
	}
	#media_2046gmailcom {
		position: absolute;
		left: 5.1563vw;
		top: 11.0417vw;
		width: 30vw;
		white-space: nowrap;
		font-style: normal;
		font-size: 2.7083vw;
		color: rgba(0,168,255,1);
	}
	#idFontBox{
		fill: transparent;
		position: absolute;
		stroke: rgba(112,112,112,1);
		stroke-width: 0.0521vw;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
		width: 41.7708vw;
		height: 14.5833vw;
		left: 5.1563vw;
		top: 0vw;
	}
	#space0{
		fill: transparent;
		position: absolute;
		width: 5.1563vw;
		height: 14.5833vw;
		left: 0vw;
		top: 0vw;
	}
	
	/* 1 - 프로필 이미지*/
	.profilePBox{
	position: absolute;
	height: 19.625vw;
	order: 1;
	z-index: 10;
/* 	background: pink; */
	}
/* 	.profileBox{
	display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    } */
    
    /* 4 - 스토리하이라이트 그림만*/
    .space1{
    position:inherit;
    width:75.729vw;
    height:2.552vw;
    order: 4;
/*     background: aqua; */
    top: 15.0417vw;
     }    
     
     /* 6 - 스토리하이라이트 이름만 */
    .space2{
    width:75.729vw;
    height:7.729vw;
	align-content:flex-end;
	order: 6;
/* 	background: yellow; */
	top: 25.0417vw;
     }
     .dashboard2Box{
	position: absolute;
    top: 5.3385vw;
    left: 8.1927vw;
    }
    
    /* 2 - 게시물 등록 */
    #post-container {
   	order: 2; 
/*    	background: black; */
	position: inherit;
	height: 2903.593vw;
	top: 9.558vw;
	width: 75.729vw;
	left: 12.135vw;
	overflow: hidden;
    }
    
    .flex-container {
	position: absolute;
   	order: 3;
    }
    
    /* 포스트 이미지들 */ 
   	.flex-item {
   	position: absolute;
   	order: 3;
	height: 93.593vw;
/* 	top: 26.458vw; */
	width: 75.729vw;
/* 	left: 0.5vw;   	 */
	top: 0;
/* 	background: gray; */
	display: flex;
	flex-wrap: wrap;
	}
	
/* 	포스트 이미지 출력 append 추가 */
	.pD {
 	color: transparent; 
   	position: absolute;
    order: 3;  	
/* 	background: yellow; */
	width: 25vw;
	height: 1vw;
	flex-flow: row;

	
	}
	.postImages {
	width: 25vw;
	height: 25vw;
	left: 0.5vw;
   	
	}
	
	#posts {
	top: 87.458vw;
	}
	

	
	.postModal{ 
		position:fixed;
		width:100%; 
		height:100%; 
		background: rgba(0,0,0,0.8); 
		top:0; 
		left:0; 
		display:none;
	
	}
	.postModalContent{
	position: absolute;
	width: 45.729vw;
	height: 35.729vw;
	  background: rgba(244,238,238,1); 
	  border-radius: 1.324vw;
	  order: 8;
	  top: 6vw; 
	  left: 25vw;
	  margin-top: 0; 
	  margin-left: 0;
	  box-sizing: border-box; 
	  padding: 0;
	  line-height: 1vw; 
	  cursor: pointer;
	  overflow: hidden;
	
	}	

	.onePostContent {
	position: absolute;
	display: flex;
	width: 45.729vw;
	height: 30.729vw;	
	top: 6.858vw;
/* 	background: green; */
	z-index: 1;
	order: 2;	
	}
	

	
	.postContent {
	position: absolute;
/* 	background: yellow; */
	display: flex;
	width: 15.729vw;
	height: 18.729vw;	
	top: 0.384vw;
	order: 1;
	left:28.447vw;	
	font-family: inherit;
	font-weight: bold;
	font-size: medium;

	}
	
	.hashTag {
	position: absolute;
/* 	background: yellow; */
	display: flex;
	width: 15.729vw;
	height: 6.429vw;	
	top: 14.372vw;
	order: 1;
	left:28.347vw;	
	font-weight: bold;
	font-size: medium;		
	}
