@charset "UTF-8";
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
	#signup {
		position: absolute;
		margin: -8px;
		width: 100vw;
		height: 66.6667vw;
		background-color: rgba(255,236,72,1);
		overflow: hidden;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#signupPBox1{
		position: absolute;
		width: 1090px;
		height: 770px;
		left: 50%;
		transform:translateX(-50%);
		top: 198px;
		overflow: visible;
}
	#signupPBox2{
		position: absolute;
		width: 784px;
		height: 604px;
		left: 153px;
		top: 60px;
		overflow: visible;
}
	#signupBox1{
		position: absolute;
		width: 1090px;
		height: 644px;
		left: 0px;
		top: 0px;
		overflow: visible;
}
	#signupBox2{
		fill: rgba(255,255,255,1);
		stroke: rgba(210,210,210,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
}
	.signupBox2{
		position: absolute;
		overflow: visible;
		width: 1090px;
		height: 644px;
		left: 0px;
		top: 0px;
}
	#signupPButton{
		position: absolute;
		width: 260px;
		height: 60px;
		top: 584px;
		left: 50%;
		transform:translateX(-50%);
		overflow: visible;
}
	#signupButton1{
		position: absolute;
		width: 260px;
		height: 60px;
		left: 0px;
		top: 0px;
		overflow: visible;
}
	#signupButton2{
		fill: rgba(0,0,0,1);
		stroke: rgba(128,128,128,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
}
	.signupButton2{
		position: absolute;
		overflow: visible;
		width: 200px;
		height: 48px;
		left: 30px;
		top: 6px;
}
	#signupFont {
		left: 93px;
		top: 20px;
		position: absolute;
		overflow: visible;
		width: 71px;
		white-space: nowrap;
		line-height: 63px;
		margin-top: -22px;
		text-align: left;
		font-family: Noto Sans CJK KR;
		font-style: normal;
		font-weight: bold;
		font-size: 19px;
		color: rgba(241,168,187,1);
}
	.signupButtonClick{
		fill: transparent;
}
	#signupButtonClick{
		opacity:0;
		position: absolute;
		overflow: visible;
		width: 260px;
		height: 60px;
		left: 0px;
		top: 0px;
		z-index: 9999;
}
	#idPBox{
		position: absolute;
		width: 372px;
		height: 52px;
		left: 0px;
		top: 84px;
		overflow: visible;
}
	#idBoxFont{
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 67px;
		white-space: nowrap;
		line-height: 73px;
		margin-top: -25.5px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(128,128,128,1);
}
	#idTerm{
		left: 98px;
		top: 24px;
		position: absolute;
		overflow: visible;
		width: 212px;
		white-space: nowrap;
		line-height: 70px;
		margin-top: -24.5px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(255,0,0,1);
}
	#idBox1 {
		position: absolute;
		width: 372px;
		height: 52px;
		left: 0px;
		top: 58px;
		overflow: visible;
}
	#idBox2 {
		fill: transparent;
}
	.idBox2 {
		position: absolute;
		overflow: visible;
		width: 372px;
		height: 52px;
		left: 0px;
		top: 0px;
}
	#idBox3{
		fill: rgba(255,255,255,1);
		stroke: rgba(188,188,188,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
}
	.idBox3{
		position: absolute;
		overflow: visible;
		width: 372px;
		height: 52px;
		left: 0px;
		top: 0px;
}
	#idFont1 {
		left: 9px;
		top: 64px;
		position: absolute;
		overflow: visible;
		width: 32px;
		white-space: nowrap;
		line-height: 126px;
		margin-top: -46px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 34px;
		color: rgba(129,129,129,1);
}
	#ConfirmIdPBox{
		position: absolute;
		width: 372px;
		height: 52px;
		left: 412px;
		top: 64px;
		overflow: visible;
}
	#ConfirmIdBoxFont{
		left: 10px;
		top: 67px;
		position: absolute;
		overflow: visible;
		width: 67px;
		white-space: nowrap;
		line-height: 73px;
		margin-top: -25.5px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(128,128,128,1);
}
	#ConfirmIdBox1 {
		position: absolute;
		width: 372px;
		height: 52px;
		left: 0px;
		top: 58px;
		overflow: visible;
}
	#ConfirmIdBox2 {
		fill: transparent;
}
	.ConfirmIdBox2 {
		position: absolute;
		overflow: visible;
		width: 372px;
		height: 52px;
		left: 0px;
		top: 0px;
}
	#ConfirmIdBox3{
		fill: rgba(255,255,255,1);
		stroke: rgba(188,188,188,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
}
	.ConfirmIdBox3{
		position: absolute;
		overflow: visible;
		width: 372px;
		height: 52px;
		left: 0px;
		top: 0px;
}
	#namePBox{
		position: absolute;
		width: 372px;
		height: 52px;
		left: 0px;
		top: 315px;
		overflow: visible;
}
	#nameBoxFont{
		left: 0px;
		top: -39px;
		position: absolute;
		overflow: visible;
		width: 67px;
		white-space: nowrap;
		line-height: 73px;
		margin-top: -25.5px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(128,128,128,1);
}
	#nameTerm{
		left: 98px;
		top: 24px;
		position: absolute;
		overflow: visible;
		width: 212px;
		white-space: nowrap;
		line-height: 70px;
		margin-top: -24.5px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(255,0,0,1);
}
	#nameBox1 {
		position: absolute;
		width: 372px;
		height: 52px;
		left: 0px;
		top: 58px;
		overflow: visible;
}
	#nameBox2 {
		fill: transparent;
}
	.nameBox2 {
		position: absolute;
		overflow: visible;
		width: 372px;
		height: 52px;
		left: 0px;
		top: 0px;
}
	#nameBox3{
		fill: rgba(255,255,255,1);
		stroke: rgba(188,188,188,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
}
	.nameBox3{
		position: absolute;
		overflow: visible;
		width: 372px;
		height: 52px;
		left: 0px;
		top: 0px;
}
	#nameFont1 {
		left: 9px;
		top: 64px;
		position: absolute;
		overflow: visible;
		width: 32px;
		white-space: nowrap;
		line-height: 126px;
		margin-top: -46px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 34px;
		color: rgba(129,129,129,1);
}
	#passwordPBox{
		position: absolute;
		width: 372px;
		height: 52px;
		left: 0px;
		top: 233px;
		overflow: visible;
}
	#passwordFont{
		left: 0px;
		top: -44px;
		position: absolute;
		overflow: visible;
		width: 88px;
		white-space: nowrap;
		line-height: 73px;
		margin-top: -25.5px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(128,128,128,1);
}
	#passwordTerm{
		left: 2px;
		top: 132px;
		position: absolute;
		overflow: visible;
		width: 494px;
		white-space: nowrap;
		line-height: 70px;
		margin-top: -24.5px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(191,191,191,1);
}
	#passwordBox1{
		position: absolute;
		width: 372px;
		height: 52px;
		left: 0px;
		top: 0px;
		overflow: visible;
}
	#passwordBox2{
		fill: rgba(255,255,255,1);
		stroke: rgba(188,188,188,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
}
	.passwordBox2{
		position: absolute;
		overflow: visible;
		width: 372px;
		height: 52px;
		left: 0px;
		top: 0px;
}
	.passwordInput {
		fill: transparent;
}
	#passwordInput{
		opacity:0;
		stroke-opacity: 0;
		position: absolute;
		overflow: visible;
		width: 335px;
		height: 52px;
		left: 18px;
		top: 0px;
		z-index: 9999;
}
	#confirmPassPBox{
		position: absolute;
		width: 372px;
		height: 52px;
		left: 412px;
		top: 233px;
		overflow: visible;
}
		#confirmPassFont{
		left: 0px;
		top: -44px;
		position: absolute;
		overflow: visible;
		width: 132px;
		white-space: nowrap;
		line-height: 73px;
		margin-top: -25.5px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(128,128,128,1);
}
	#confirmPassBox1{
		position: absolute;
		width: 372px;
		height: 52px;
		left: 0px;
		top: 0px;
		overflow: visible;
}
	#confirmPassBox2{
		fill: rgba(255,255,255,1);
		stroke: rgba(188,188,188,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
}
	.confirmPassBox2{
		position: absolute;
		overflow: visible;
		width: 372px;
		height: 52px;
		left: 0px;
		top: 0px;
}
	.confirmPassInput {
		fill: transparent;
}
	#confirmPassInput{
		opacity:0;
		stroke-opacity: 0;
		position: absolute;
		overflow: visible;
		width: 335px;
		height: 52px;
		left: 18px;
		top: 0px;
		z-index: 9999;
}
		#emailPBox{
		position: absolute;
		width: 372px;
		height: 52px;
		left: 412px;
		top: 373px;
		overflow: visible;
}
	#emailFont {
		left: 0px;
		top: -39px;
		position: absolute;
		overflow: visible;
		width: 66px;
		white-space: nowrap;
		line-height: 73px;
		margin-top: -25.5px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(128,128,128,1);
}
	#emailTerm{
		left: 98px;
		top: 24px;
		position: absolute;
		overflow: visible;
		width: 281px;
		white-space: nowrap;
		line-height: 70px;
		margin-top: -24.5px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(255,0,0,1);
}
	#emailBox1{
		position: absolute;
		width: 372px;
		height: 52px;
		left: 0px;
		top: 0px;
		overflow: visible;
}
	#emailBox2 {
		fill: transparent;
}
	.emailBox2 {
		position: absolute;
		overflow: visible;
		width: 372px;
		height: 52px;
		left: 0px;
		top: 0px;
}
	#emailBox3{
		fill: rgba(255,255,255,1);
		stroke: rgba(188,188,188,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
}
	.emailBox3{
		position: absolute;
		overflow: visible;
		width: 372px;
		height: 52px;
		left: 0px;
		top: 0px;
}
	.emailInput{
		fill: transparent;
}
	#emailInput{
		opacity:0;
		stroke-opacity: 0;
		position: absolute;
		overflow: visible;
		width: 335px;
		height: 52px;
		left: 18px;
		top: 0px;
		z-index: 9999;
}
	#phonenumPBox{
		position: absolute;
		width: 372px;
		height: 52px;
		left: 0px;
		top: 474px;
		overflow: visible;
}
	#phonenumFont {
		left: 0px;
		top: -39px;
		position: absolute;
		overflow: visible;
		width: 66px;
		white-space: nowrap;
		line-height: 73px;
		margin-top: -25.5px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(128,128,128,1);
}
	#phonenumTerm{
		left: 98px;
		top: 24px;
		position: absolute;
		overflow: visible;
		width: 281px;
		white-space: nowrap;
		line-height: 70px;
		margin-top: -24.5px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(255,0,0,1);
}
	#phonenumBox1{
		position: absolute;
		width: 372px;
		height: 52px;
		left: 0px;
		top: 0px;
		overflow: visible;
}
	#phonenumBox2 {
		fill: transparent;
}
	.phonenumBox2 {
		position: absolute;
		overflow: visible;
		width: 372px;
		height: 52px;
		left: 0px;
		top: 0px;
}
	#phonenumBox3{
		fill: rgba(255,255,255,1);
		stroke: rgba(188,188,188,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
}
	.phonenumBox3{
		position: absolute;
		overflow: visible;
		width: 372px;
		height: 52px;
		left: 0px;
		top: 0px;
}
	#signupTitle {
		left: 50%;
		transform:translateX(-50%);
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 89px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans CJK KR;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		color: rgba(0,0,0,1);
}
	 .signupIdInput{
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(0,0,0,1);
}
 	#signupIdInput{
		position: absolute;
		overflow: visible;
		width: 324px;
		height: 51px;
		left: 199px;
		top: 177px;
		border:none;
		background:transparent;
		z-index: 9999;
}
	.ConfirmIdButton{
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(0,0,0,1);
}
	#ConfirmIdButton{
		position: absolute;
		overflow: visible;
		width: 92px;
		height: 44px;
		left: 565px;
		top: 181px;
		border:none;
		background:transparent;
		z-index: 9999;
}
	.signupNameInput{
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(0,0,0,1);
}
	#signupNameInput{
		position: absolute;
		overflow: visible;
		width: 368px;
		height: 51px;
		left: 153px;
		top: 433px;
		border:none;
		background:transparent;
		z-index: 9999;
}
 	.signupPassInput{
		font-size: 21px;
}
	#signupPassInput{
		position: absolute;
		overflow: visible;
		width: 368px;
		height: 51px;
		left: 153px;
		top: 293px;
		border:none;
		background:transparent;
		z-index: 9999;
}
 	.signupPassConfirmInput{
		font-size: 21px;
}
	#signupPassConfirmInput{
		position: absolute;
		overflow: visible;
		width: 368px;
		height: 51px;
		left: 565px;
		top: 293px;
		border:none;
		background:transparent;
		z-index: 9999;
}
	.signupEmailInput{
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(0,0,0,1);
}
	#signupEmailInput{
		position: absolute;
		overflow: visible;
		width: 368px;
		height: 51px;
		left: 565px;
		top: 433px;
		border:none;
		background : transparent;
		z-index: 9999;
}
	.signupPhonenumInput{
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(0,0,0,1);
}
	#signupPhonenumInput{
		position: absolute;
		overflow: visible;
		width: 368px;
		height: 51px;
		left: 153px;
		top: 534px;
		border:none;
		background:transparent;
		z-index: 9999;
}
	#newSignupButton{
		position: absolute;
		overflow: visible;
		width: 254px;
		height: 60px;
		left: 415px;
		top: 648px;
		border:none;
		background:transparent;
		z-index: 9999;
}
	#hashhershe {
		left: 296px;
		top: -195px;
		position: absolute;
		overflow: visible;
		width: 507px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,0,66,1);
}
	#hashLine1{
		position: absolute;
		width: 487.316px;
		height: 116px;
		left: 289.32px;
		top: -198px;
		overflow: visible;
}
	#hashLine2{
		position: absolute;
		width: 491px;
		height: 23px;
		left: 296px;
		top: -63px;
		overflow: visible;
}